<div class="container my-5">
  <h1><strong>Youtube Downloader</strong></h1>
  <form (ngSubmit)="download()" class="my-5" *ngIf="!video; else showVideo">
    <div class="form-group">
      <label for="videoURL"
        >Video Link from Youtube
      </label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Video URL"
        name="url"
        [(ngModel)]="input.url"
      />
    </div>
    <button type="submit" class="btn btn-primary">Download</button>
  </form>
  <ng-template #showVideo>      
    <div class="container">
			<iframe class="d-flex" width="640" height="480" [src]="url | safe">
			</iframe>
		</div>
		<div class="container">
			<div class="btn-group">
				<button
					type="button"
					class="btn btn-success dropdown-toggle mr-1"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
          id="dropdownMenuButton"
				>
					Download
				</button>
        <button class="btn btn-secondary" (click)="reset()">Search for more videos</button>
        <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  *ngFor="let format of info" [href]="format.url" target="_blank">
              {{format.mimeType.split(";")[0]}}
              {{format.hasVideo ? format.height + "p" : ""}}
              <i class="fas fa-volume-mute text-danger" *ngIf="!format.hasAudio"></i>
            </a>
				</div>
      </div>
    </div>
  </ng-template>
</div>